.App {
  text-align: center;
}


.form-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.upload-form {
  display: flex;
  flex-direction: column;
}

.submit-button, .file-label {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.file-label {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.file-input {
  display: none;
}

.submit-button:hover, .file-label:hover {
  background-color: #45a049;
}

.error {
  color: red;
}


.gallery-container {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

.gallery-image {
  max-width: 100px; /* Adjust the maximum width of the images */
  height: auto;
}